/* download */

.download {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
  
    .download__img {
      padding: 109px 0 61px;
      padding-left: 13%;
    }
  
    .download__title {
      color: #343434;
      font-size: 36px;
      font-weight: 700;
  
      /* line-height: 50px; */
      letter-spacing: 0.9px;
      padding-bottom: 49px;
    }
  
    .download__descr {
      color: #5b5b5b;
      font-size: 20px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0.2px;
    }
  
    .download__button {
      padding-top: 97px;
  
      button {
        background: transparent;
        border-radius: 5px;
        border: 2px solid #ff8400;
        margin-right: 30px;
  
        &:hover {
          background: #ff8400;
        }
  
        a {
          text-decoration: none;
          font-size: 23px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: 1.15px;
          color: #ff8400;
          display: block;
  
          &:hover {
            color: #fff;
          }
        }
  
        span {
          font-size: 12px;
          font-weight: 700;
          line-height: 36px;
          text-transform: uppercase;
          letter-spacing: 0.6px;
          padding: 21px 50px 7px;
        }
      }
    }
  }

  @media only screen and (max-width: 480px) and (min-width: 320px){

    .download {
      max-width: 480px;
      min-width: 320px;
      display: block;
    
      .download__img {
        padding: 50px 0 30px;
        padding-left: 0;
        text-align: center;

        img{
          width: 80%;
        }
      }
    
      .download__title {
        font-size: 24px;
        padding-bottom: 25px;
        text-align: center;
      }
    
      .download__descr {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    
      .download__button {
        padding: 40px 0;
        text-align: center;
    
        button {
          margin-right: 0px;
    
          a {
            font-size: 18px;
            line-height: 18px;
            padding-bottom: 10px;
          }
    
          span {
            font-size: 8px;
            line-height: 30px;
            padding: 15px;
          }
        }
      }
    }

  }