/* header */

header {
  width: 100%;
  max-width: 1920px;
  min-height: 895px;
  margin: 0 auto;
  background: url(/img/header-underbg.png) no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 0;
  opacity: 1;
  color: #fff;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/header-bg.png) no-repeat center top;
    background-size: cover;
    z-index: 1;
    opacity: 0.1;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;

    .header__nav {
      font-size: 18px;
      font-weight: 400;

      /* line-height: 68px; */
      letter-spacing: 0.45px;
      display: inline-block;
      vertical-align: middle;

      a {
        margin-left: 60px;
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .header__mine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 128px;

    .header__title {
      font-size: 38px;
      font-weight: 700;

      /* line-height: 68px; */
      letter-spacing: 0.38px;
    }

    .header__descr {
      font-size: 20px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0.2px;
      padding: 49px 0 121px;
    }

    .header__button {
      button {
        border: none;
        background: transparent;
        padding: 0;

        a {
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
  
          /* line-height: 36px; */
          text-transform: uppercase;
          letter-spacing: 0.9px;
          padding: 25px 56px;
          color: #fff;
          border: 2px solid #fff;
          border-radius: 5px;
        }
      } 
    }
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

  header {
    width: 100%;
    min-width : 320px;
    max-width: 480px;
  
    .header__top {
      align-items: start;
      padding: 20px;
  
      .header__nav {
        font-size: 15px;
        display: block; 

        a {
          margin-left: 0px;
          display: block;
          padding: 5px 10px;
          text-align: center;
        }
      }
    }
  
    .header__mine {
      display: block;
      padding-top: 25px;
      text-align: center;
  
      .header__title {
        font-size: 32px;
        line-height: 40px;
      }
  
      .header__descr {
        font-size: 16px;
        line-height: 20px;
        padding: 25px 0 70px;
        line-height: 24px;
      }

      .header__button {
        button {
          a {
            font-size: 14px;
            padding: 15px 30px;
          }
        } 
      }

      img{
        padding: 50px 0;
        width: 80%;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px){

  header {
    width: 100%;
    min-width : 768px;
    max-width : 1024px;
    min-height: 670px;
  
    .header__top {
      padding-top: 20px;
  
      .header__nav {
        font-size: 15px;
  
        a {
          margin-left: 30px;
        }
      }
    }
  
    .header__mine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 60px;
  
      .header__title {
        font-size: 26px;
      }
  
      .header__descr {
        font-size: 12px;
        padding: 25px 0 60px;
      }
  
      .header__button {
        button {
  
          a {
            font-size: 14px;
            padding: 15px 25px;
          }
        } 
      }

      .header__right{

        img{
          width: 80%;
          height: auto;
        }
      }
    }
  }

}