/* user */

.user {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  
    .user__title {
      color: #343434;
      font-size: 36px;
      font-weight: 700;
  
      /* line-height: 68px; */
      letter-spacing: 0.36px;
      text-align: center;
      padding-top: 101px;
    }
  
    .user__slider {
      width: 100%;
      margin: 0 auto;
      position: relative;
      margin: 150px 0 121px;
  
      input {
        display: none;
      }
  
      .switch {
        position: absolute;
        left: 0;
        bottom: -50px;
        text-align: center;
        width: 100%;
  
        label {
          display: inline-block;
          width: 8px;
          height: 8px;
          margin: 0 15px;
          border-radius: 50%;
          background-color: #f17201;
        }
      }
    }
  
    .user__inner {
      width: 100%;
      max-width: 1174px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
  
      .user__var {
        position: relative;
        width: 100%;
        max-width: 430px;
        margin: 0 auto;
  
        &:hover .user__article {
          transition-duration: 0.6s;
          text-align: center;
          margin-top: 55px;
          opacity: 1;
        }
  
        .user__avatar {
          display: block;
          margin: 0 auto;
          width: 135px;
          height: 135px;
  
          &:hover {
            padding-top: 25px;
            transition: all 0.6s ease-out;
            transform: scale(1.33);
          }
        }
  
        .user__article {
          opacity: 0;
  
          h4 {
            color: #00baff;
            font-size: 24px;
            font-weight: 700;
  
            /* line-height: 68px; */
            letter-spacing: 0.6px;
            padding-bottom: 24px;
          }
  
          p {
            color: #5c5c5c;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            letter-spacing: 0.18px;
            padding-bottom: 43px;
          }
        }
      }
    }
  }
  
  #btn1:checked ~ .user .user__slider .switch label[for="btn1"], #btn2:checked ~ .user .user__slider .switch label[for="btn2"], #btn3:checked ~ .user .user__slider .switch label[for="btn3"] {
    background-color: black;
  }
  
  #btn1:checked ~ .user .user__inner .user__var {
    transform: translate(0);
  }
  
  #btn2:checked ~ .user .user__inner .user__var {
    transform: translate(-350px);
  }
  
  #btn3:checked ~ .user .user__inner .user__var {
    transform: translate(-700px);
  }