
@import "reset";

@font-face{
    font-family: "HelveticaNeue";
    src: url('app/fonts/HelveticaNeue.ttf');
    src: url('app/fonts/HelveticaNeueBold.ttf');
    src: url('app/fonts/HelveticaNeueLight.ttf');
    src: url('app/fonts/HelveticaNeueMedium.ttf');
    src: url('app/fonts/HelveticaNeueThin.ttf');
    src: url('app/fonts/HelveticaNeueRegular.ttf');  
}

body{
    font-family: "HelveticaNeue";
}
.container{
    width: 100%;
    max-width: 1174px;
    margin: 0 auto;
}

@import "header";
@import "about";
@import "download";
@import "workflow";
@import "support";
@import "user";
@import "contact";

@media only screen and (min-width : 320px) and (max-width : 480px) {